*{
    Background-color: black;
    }
*{
        color: white;
    }
    header{
        text-align: center;
    }
    h3{
        font-style: italic;  
    }
    section{
        font-family:  Helvetica, sans-serif;  
        font-size: 12px;
        justify-content: center;
    }
    footer{
        text-align: center;   
    }